__pycache__/
*/__pycache__/
*.py[cod]
*$py.class

env/
venv/
ENV/
.venv/
.venv.local
.venv.development.local
.venv.test.local
.venv.production.local
**/migrations/*.pyc
**/migrations/__pycache__/
db.sqlite3
secrets.json
*.env
.env
.env.local
.env.*
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

node_modules/
.pnp/
.pnp.js


build/
dist/

.vscode/
.idea/


.DS_Store
Thumbs.db

*.swp
*.swo
*~

Pipfile.lock
```